* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.caixa-pesquisa {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

#search-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* CONTAINER AZUL */
.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Espaço maior entre eles */
  justify-content: center;
  padding: 20px;
}

/* CARD */
.news-card {
  text-align: center;
  font-size: 45px;
  font-weight: -100;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 700px;
  /* Tamanho fixo para o teste */
  width: 1000px;
  transition: 0.3s all ease-in-out;
}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 3px;
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
}

.card-content h3 {
  margin-bottom: 10px;
}

.card-content p {
  color: #555;
  margin-bottom: 15px;
  font-size: 30px;
}

.read-more {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
